<template>
    <div>
        <form class="mt-3 col-md-8 offset-md-2">
    <div class="form-group row">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1" class="form-label mt-2">Primer nombre</label>
      <input v-model="pnombre" type="text" class="form-control" placeholder="Primer nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1" class="form-label mt-2">Segundo nombre</label>
      <input v-model="snombre" type="text" class="form-control" placeholder="Segundo nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1" class="form-label mt-2">Primer apellido</label>
      <input v-model="papellido" type="text" class="form-control" placeholder="Primer apellido">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1" class="form-label mt-2">Segundo apellido</label>
      <input v-model="sapellido" type="text" class="form-control" placeholder="Segundo apellido">
    </div>
    <div class="form-group col-md-6">
      <label for="Select" class="form-label mt-2">Tipo de identificación</label>
      <select v-model="typid" class="form-select form-control" id="Select">
        <option selected disabled>Tipo de identificación</option>
        <option>C.Ciudadanía</option>
        <option>C.Extranjería</option>
        <option>Pasaporte</option>
        <option>Permiso Especial</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1" class="form-label mt-2">Número de identificación</label>
      <input v-model="numid" type="text" class="form-control" placeholder="Número de identificación">
    </div>
    <div class="form-group col-md-6">
    <label for="Select" class="form-label mt-2">País</label>
      <select v-model="pais" class="form-select form-control" id="Select">
        <option selected disabled>Seleciona un país</option>
        <option>Colombia</option>
        <option>Estados Unidos</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Select" class="form-label mt-2">Área</label>
      <select v-model="area" class="form-select form-control" id="Select">
        <option selected disabled>Área del empleado</option>
        <option>Administración</option>
        <option>Financiera</option>
        <option>Tecnología</option>
        <option>Talento Humano</option>
      </select>
    </div>
    <div class="form-group col-md-12">
      <label for="Select" class="form-label mt-2">Fecha de ingreso</label>
        <datepicker :bootstrap-styling="true"
                    class="form-control"
                    :open-date="openDate"
                    :format="customFormatter"
                    v-model="ingreso">
        </datepicker>
    </div>
    <div class="form-group center">
      <button class="btn btn-dark btn-primary mt-5 col-md-6" @click="creteEmploye" type="button">CREAR NUEVO EMPLEADO</button>
    </div>
</form>
    </div>
</template>
<script>
import Datepicker from 'vuejs-datepicker'
import moment from 'moment'
import axios from 'axios'
// import sendData from '@/service/sendData'
export default {
  components: {
    Datepicker
  },
  data () {
    return {
      pnombre: '',
      snombre: '',
      papellido: '',
      sapellido: '',
      typid: '',
      numid: '',
      pais: '',
      area: '',
      ingreso: new Date()
    }
  },
  methods: {
    customFormatter (date) {
      return moment(date).format('D MMMM YYYY')
    },
    async creteEmploye () {
      // Simple POST request with a JSON body using axios
      const article = {
        pnombre: this.pnombre,
        snombre: this.snombre,
        papellido: this.papellido,
        sapellido: this.sapellido,
        typid: this.typid,
        numid: this.numid,
        pais: this.pais,
        area: this.area,
        email: '',
        estado: 'true',
        ingreso: this.ingreso,
        registro: ''
      }
      const response = await axios.post('http://localhost:4000/api/employe', article)
      if (response) {
        alert('Empleado se creó exitosamente')
      }
    }
  }
}
</script>
<style scoped>
div{
  float: left;
}
.center{
  width: 100%;
  display: flex;
  justify-content: center;
}
</style>
