<template>
    <div>
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Primer Nombre</th>
      <th scope="col">Segundo Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Documento</th>
      <th scope="col">Número Documento</th>
      <th scope="col">País</th>
      <th scope="col">Área</th>
      <th scope="col">Correo</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <paginate name="employes" :list="employes" :per="8" tag="tbody">
    <tr class="table-light" v-for="employe in paginated('employes')" :key="employe.data">
      <td>{{employe.pnombre}}</td>
      <td>{{employe.snombre}}</td>
      <td>{{employe.papellido}}</td>
      <td>{{employe.sapellido}}</td>
      <td>{{employe.typid}}</td>
      <td>{{employe.numid}}</td>
      <td>{{employe.pais}}</td>
      <td>{{employe.area}}</td>
      <td>{{employe.email}}</td>
      <td class="btnloc">
        <button type="button" class="btn btn-secondary btn-sm" @click="editEmploye(employe.id)">Editar</button>
        <button type="button" class="btn btn-secondary btn-sm mt-1" @click="deletEmploye(employe.id)">Eliminar</button>
      </td>
    </tr>
    </paginate>
</table>
<div id="pagcenter">
      <paginate-links for="employes" :limit="5" :show-step-links="true" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}"></paginate-links>
    </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      employes: [],
      paginate: ['employes']
    }
  },
  mounted () {
    let vue = this
    axios.get('http://localhost:4000/api/employe')
      .then(function (resp) {
        console.log(resp)
        vue.employes = resp.data
      })
  },
  methods: {
    async deletEmploye (id) {
      console.log(id)
      const respo = await axios.delete(`http://localhost:4000/api/employe/${id}`)
      if (respo) {
        alert('El empleado con el id: ' + id + ' fué eliminado exitosamente')
      }
    },
    editEmploye (id) {
      this.$store.state.id = id
      alert('vas a editar al empleado con id: ' + this.$store.getters.getId)
      location.href = 'http://localhost:8080/#/edit'
    }
  }
}
</script>
<style scoped>
#pagcenter{
  display: flex;
  justify-content: center;
  width: 100%;
}
.btnloc{
  display: flex;
  flex-direction: column;
}
</style>
